body {
  background-color: #e4f9f5;
  font-family: "Trebuchet MS","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Tahoma,sans-serif;
  margin: 0;
}

h1 {
  color: #66BFBF;
  font-family: 'Indie Flower', cursive;
  font-size: 5em;
  margin-top: 0;
  /* font size is inherited */
}

h2 {
  color: #66BFBF;
  font-family: 'Waiting for the Sunrise', cursive;
  font-size: 2.5em;
}

h3 {
  color: #11999E;
  font-size: 1.5em;
  font-family: 'Waiting for the Sunrise', cursive;
}

a {
  color: #11999E;
}

.bottom-cloud {
  left: 180px;
  position: absolute;
  top: 250px;
}

.middle-container {
  text-align: center;
}

.bottom-container {
  position: relative;
  left: 20px;
}

.mountain {
  margin-top: 50px;
}

.pro {
  text-decoration: underline;
}

.skill-img {
  width: 80px;
  height: 120px;
}

.sheep-img {
  width: 80px;
  height: 80px;
}

.subtitle {
  color: #66BFBF;
  font-family: 'Indie Flower', cursive;
  font-size: 1.8em;
  font-weight: normal;
  line-height: 2;
  margin: 50px auto 50px auto;
}

.top-container {
  margin-top: 0;
  position: relative;
  padding-top: 120px;
  padding-bottom: 180px;
  text-align: center;
}

.top-cloud {
  position: absolute;
  right: 250px;
  top: 50px;
}
